{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": "",
        "node": "current"
      }
    }],
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true
    }]
  ]
}
